

#navbar {
  background-color: black;
  color: #DD1972;
  position: fixed;
  width: 100%;
  padding: 20px;
  text-align: center;

  
}

/*contains both columns to do flex-box*/
.column-container {
  
}
main {
  background-color: #F7F7F7;
  
  padding-top: 80px;
}

.firstC {
  background-color:  #F7F7F7;
  border-right: 2px solid black;
}

.first-column {
  background-color: white;
  
}



.secondC {
  background-color: #404041;
}
.second-column {
  background-color: white;
  border: 2px solid #404041;
}