

#navbar {
  background-color: black;
  color: #DD1972;
  position: fixed;
  width: 100%;
  padding: 20px;
  text-align: center;

  
}

/*contains both columns to do flex-box*/
.column-container {
  
}
main {
  background-color: #F7F7F7;
  
  padding-top: 100px;
}

.first-column {
  background-color: #F7F7F7;
  
}

.secondC {
  background-color: #404041;
}
.second-column {
  
}